@media (max-width: 330px) {
    html {
        font-size: 9px;
    }
    section {
        margin: 0 auto 120px;
    }
    .system-table, .slider-wrap, .access-inner, .section-contact form {
        padding: 0 15px;
    }

    /* HEADER */
    #nav-toggle {
        right: 15px;
    }
    .logo {
        margin: 15px 0 15px 15px;
    }
    .arrow {
        padding: 10px 15px 50px;
    }
    footer .arrow {
        padding: 50px 15px 10px;
    }

    /* CAMPAIGN */
    .section-campaign {
        width: calc(100% - 30px);
    }

    /* CONFIRM,THANKS */
    .confirm main, .thanks main {
        padding: 120px 15px 0;
    }
}

@media (min-width: 735px) {
    body::before {
        background-size: auto;
    }
    html {
        font-size: 11px;
    }
    section {
        margin: 0 auto 200px;
    }
    h3 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .head {
        margin-bottom: 80px;
    }
    .section-photoGallery .head {
        margin-bottom: 50px;
    }
    .w735 {
        display: none;
    }

    /* CAMPAIGN */
    .section-campaign {
        margin: 0 auto 200px;
    }
    .section-campaign .inner {
        padding: 25px 10px;
    }
    .section-campaign h3 {
        font-size: 1.7rem;
    }
    .section-campaign ul {
        flex-flow: row;
        justify-content: center;
        margin-bottom: 20px;
    }
    .section-campaign li {
        width: calc(50% - 5px);
        margin: 0 10px;
    }
    .periodTitle {
        padding-right: 0;
    }
    .period {
        width: 7rem;
        height: 7rem;
        top: -4rem;
    }
    .period p {
        font-size: 1.3rem;
    }
    .period span {
        font-size: 1.6rem;
    }

    /* SYSTEM */
    .system-table {
        padding: 0 10px;
    }
    .system-table tbody {
        height: calc((4.3rem + 10px) * 5);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .system-table tr {
        width: 49%;
        height: 4.3rem;
        margin-bottom: 10px;
    }
    .system-table th {
        padding: 1rem 0 1rem 1rem;
    }
    .system-table td {
        width: calc(26% - 5px);
        padding: 1rem  1rem 1rem 0;
    }

    /* ACCESS */
    .access-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .access-inner img {
        width: 55%;
    }
    .access-deta {
        width: 45%;
        margin: 30px 0 0 30px;
    }

    /* RECRUIT */
    .recruit-inner {
        width: 100%;
        max-width: 880px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .section-recruit a {
        width: calc(50% - 1rem);
        max-width: 390px;
    }
    .section-recruit a * {
        cursor: pointer;
    }
    .section-recruit a:hover {
        opacity: 0.8;
    }
    .section-recruit a:hover span:after {
        width: 1rem;
        height: 1rem;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .section-recruit p {
        width: calc(100% - 7rem - 3px);
        line-height: 7rem;
        letter-spacing: 3px;
    }
    .section-recruit a span {
        width: 7rem;
        height: 7rem;
    }
    .section-recruit a span::after {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    /* CONTACT */
    .section-contact input, .section-contact textarea, .section-contact button, .confirm-inner p, .btn-group input, .btn-group button, .home-btn {
        padding: 1.5rem;
    }
    .input-group {
        display: flex;
        justify-content: space-between;
    }
    .input-group .form-parts {
        width: calc(50% - 4.5px);
    }

    /* CONFIRM,THANKS */
    .confirm main, .thanks main {
        padding: 150px 20px 0;
    }
    .confirm section:after, .thanks section:after {
        height: 220px;
    }
    .confirm-intro, .thanks-intro {
        margin-bottom: 80px;
    }
    .home-btn {
        max-width: 400px;
    }

    /* FOOTER */
    footer {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 768px) {
    /* HEADER */
    #nav-toggle, #gloval-nav {
        display: none;
    }
    #pc-nav {
        display: block;
        width: 100%;
    }
    #pc-nav * {
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
    #pc-nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        transition: .3s;
    }
    #pc-nav li {
        display: inline-block;
        list-style: outside none none;
    }
    #pc-nav a {
        font-size: 1.2rem;
        border-bottom: 0;
        padding: 0.1rem 1rem;
        position: relative;
    }
    #pc-nav a::before, #pc-nav a::after {
        height: 0.5rem;
        width: 0.5rem;
        position: absolute;
        content: '';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
    }
    #pc-nav a::before {
        left: 0;
        top: 0;
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        -webkit-transform: translate(100%, 50%);
        transform: translate(100%, 50%);
    }
    #pc-nav a::after {
        right: 0;
        bottom: 0;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
    }
    #pc-nav a:hover:before,
    #pc-nav a:hover:after,
    #pc-nav .current a:after {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 12px;
    }
    section {
        margin: 0 auto 240px;
    }
    .head {
        margin-bottom: 90px;
    }
    .system-table, .slider-wrap, .access-inner, .section-contact form {
        padding: 0;
    }
    /* HEADER */
    .logo {
        margin: 15px 0 15px 30px;
    }
    #pc-nav a {
        margin: 0 0.5rem;
    }
    /* MV */
    .mv-inner h2 {
        width: 40vw;
        max-width: 100%;
        height: 10vw;
        max-height: 100%;
    }
    /* PHOTO GALLERY */
    .slider {
        margin-bottom: 20px;
    }
    .slider-nav .slick-list img {
        padding: 0 5px;
    }
    /* ACCESS */
    .access-inner img {
        width: 58%;
    }
    .access-deta {
        margin: 30px 0 0 40px;
    }
    /* CONTACT */
    .section-contact button {
        transition: all .2s;
    }
    .section-contact button:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}
@media (min-width: 1440px) {
    html {
        font-size: 13px;
    }
    /* MV */
    .mv-inner h2 {
        max-width: 576px;
        max-height: 144px;
    }
}