* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 10px;
    background: rgb(22, 22, 22);
}
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,メイリオ,Meiryo,sans-serif;
    position: relative;
    color: #111111;
    z-index: 0;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.5px;
    height:100%;
}
body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@media all and (-ms-high-contrast:none) {
    body {
        font-family: "游ゴシック",YuGothic,YuGothicM,"Yu Gothic",メイリオ,Meiryo,sans-serif;
    }
}
a, p, h1, h2 ,h3 ,h4, h5, h6, li, dt, dd, th, td, aside, span, small, address {
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.3rem;
    color: #fff;
    cursor:-moz-text;
    cursor:-webkit-text;
    cursor: text;
}
h1, h2 ,h3 ,h4, h5, h6 {
    display: block;
    text-align: center;
    position: relative;
}
a, a > img, h1 > img {
    cursor:-moz-pointer;
    cursor:-webkit-pointer;
    cursor: pointer;
}
a, p, span, aside, small, address {
    display: inline-block;
}
ul, li, ol {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
    cursor:-moz-default;
    cursor:-webkit-default;
    cursor: default;
}
address {
    font-style: normal;
}

/* OTHER */
section {
    width: 100%;
    margin: 0 auto 150px;
}
.head {
    text-align: center;
    margin-bottom: 60px;
}
/* h3 {
    display: inline-block;
    font-family: 'Maven Pro';
    font-size: 3.3rem;
    line-height: 3.8rem;
    letter-spacing: 3px;
    border-bottom: 3px solid #fff;
    transform: scaleY(1.1);
} */
h3:not(.section-campaign) {
    display: inline-block;
    font-family: 'Maven Pro';
    font-size: 3.3rem;
    line-height: 3.8rem;
    letter-spacing: 3px;
    transform: scaleY(1.1);
    position: relative;
    z-index: 1;
}
h3:after:not(.section-campaign) {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background: #fff;
    z-index: -1;
    transition: all 0.4s;
}
h3.isActive:after:not(.section-campaign) {
    width: 100%;
}
/* ローディングの背景部分のCSS */
  body.hidden {
      overflow: hidden;
  }
  .loader{
    background:rgb(17, 17, 17);
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:10;
  }
   
/* ローディングのアニメーション部分のCSS (https://projects.lukehaas.me/css-loaders/) */
  .loader-animation,
  .loader-animation:before,
  .loader-animation:after {
    background:#ffffff;
    -webkit-animation:load1 1s infinite ease-in-out;
    animation:load1 1s infinite ease-in-out;
    width:1em;
    height:3em;
  }
  .loader-animation {
    height:10px;
    left:50%;
    margin:-5px 0 0 -5px;
    position:absolute;
    top:50%;
    width:10px;
    color:#ffffff;
    text-indent:-9999em;
    font-size:10px;
    -webkit-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-animation-delay:-0.16s;
    animation-delay:-0.16s;
  }
  .loader-animation:before,
  .loader-animation:after {
    position:absolute;
    top:0;
    content:'';
  }
  .loader-animation:before {
    left:-1.6em;
    -webkit-animation-delay:-0.32s;
    animation-delay:-0.32s;
  }
  .loader-animation:after {
    left:1.6em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow:0 0;
      height:3em;
    }
    40% {
      box-shadow:0 -1.5em;
      height:3.5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow:0 0;
      height:3em;
    }
    40% {
      box-shadow:0 -1.5em;
      height:3.5em;
    }
  }

/* HEADER */
header {
    display: block;
    position: relative;
    z-index: 3;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 4;
}
header .inner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: opacity 1.5s cubic-bezier(.19,1,.22,1);
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
}
header.is-animation .inner:before {
    opacity: 0.8;
}
.logo {
    display: block;
    width: 100px;
    margin: 15px 0 15px 20px;
    position: absolute;
    top: -100px;
    left: 0;
}
.logo {
    transition: .3s;
    z-index: 4;
}
.is-animation .logo, .open .logo {
    top: 0;
}
/* MENU-ICON */
#pc-nav {
    display: none;
}
#nav-toggle {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
    position: fixed;
    top: 17px;
    right: 20px;
}
#nav-toggle div {
    position: relative;
    width: 30px;
}
#nav-toggle span {
    width: 100%;
    height: 2.4px;
    left: 0;
    display: block;
    background: #fff;
    position: absolute;
    transition: transform .4s ease-in-out, top .2s ease;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 10px;
}
#nav-toggle span:nth-child(3) {
    top: 20px;
}

#nav-toggle.open ~ #nav-toggle span {
    background-color: white;
}
.open #nav-toggle span:nth-child(1) {
    top: 10px;
    transform: rotate(-45deg);
}
.open #nav-toggle span:nth-child(2) {
    top: 10px;
    width: 0;
    left: 50%;
}
.open #nav-toggle span:nth-child(3) {
    top: 10px;
    transform: rotate(45deg);
}
.open #nav-toggle span {
    background: white;
    cursor: pointer;
}
/* MENU-OPEN */
#gloval-nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
    opacity: 0;
}
#gloval-nav::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.open #gloval-nav {
    visibility: visible;
    opacity: 1;
}
#gloval-nav li {
    display: block;
    margin: 3rem 0;
}
#gloval-nav a, #pc-nav a {
    display: block;
    font-family: 'Maven Pro';
    font-size: 2rem;
    letter-spacing: 3px;
    transform: scaleY(1.1);
    padding: 1rem 1rem;
}
.open {
    overflow: hidden;
}

/* MV */
.section-mv {
    position: relative;
    margin: 0 auto 100px;
}
.mv-inner {
    justify-content: center;
    cursor: default;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 0;
}
.mv-inner h2 {
    display: block;
    width: 60vw;
    max-width: 370px;
    height: 15vw;
    max-height: 95px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* CAMPAIGN */
.section-campaign {
    width: calc(100% - 40px);
    max-width: 730px;
    text-align: center;
    background: url(../img/campaign_bg.svg);
    background-size: 370px;
    border: 1px solid #857339;
    border-radius: 5px;
    position: relative;
    margin: 0 auto 130px;
}
.section-campaign .inner {
    padding: 20px 0;
}
.section-campaign h3 {
    display: block;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    background: #857339;
    border-radius: 5px 5px 0 0;
}
.section-campaign ul {
    display: flex;
    align-items: center;
    flex-flow: column;
}
.section-campaign li {
    width: calc(100% - 30px);
    max-width: 330px;
    background: #ffdc6b24;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px 0 10px;
}
.section-campaign li h4 {
    display: inline-block;
    font-size: 1.25rem;
    color: rgb(100, 84, 30);
    background: #fff;
    border-radius: 30px;
    padding: 1px 15px 0;
    margin-bottom: 10px;
}
.section-campaign li p, .section-campaign li span {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1.5px;
}
.section-campaign li p {
    display: block;
    padding: .5rem 0;
}
.section-campaign li span {
    color: #ffd32e;
}
.section-campaign .camArrow {
    border-top: 6px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 6px solid transparent;
    margin: 0 .9rem;
}
.section-campaign li .large {
    font-size: 1.8rem;
}
.section-campaign .txt {
    display: block;
    font-size: 1.25rem;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.section-campaign a {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    background: #857339;
    padding: 5px 30px;
    border-radius: 5px;
}
.section-campaign a:hover {
    opacity: 0.8;
}
.periodTitle {
    padding-right: 3rem;
}
.period {
    display: block;
    width: 6rem;
    height: 6rem;
    background: #970000;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -3em;
    right: -10px;
    z-index: 2;
}
.period p {
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    margin: auto;
}
.period span {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
}

/* SCROLL */
.arrow-btn {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
footer .arrow-btn {
    position: relative;
}
.arrow {
    display: block;
    position: relative;
    padding: 10px 20px 50px;
}
footer .arrow {
    padding: 50px 20px 10px;
}
.arrow span {
    display: block;
    width: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 2.5px;
    text-decoration: none;
    cursor: pointer;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.arrow-btn::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, .25);
}
.mv-inner .arrow-btn::before {
    bottom: 0;
}
footer .arrow-btn::before {
    top: 0;
}
.arrow-btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 40px;
    background: #fff;
}
.mv-inner .arrow-btn::after {
    bottom: 0;
    animation: mva 2s cubic-bezier(1, 0, 0, 1) infinite;
}
footer .arrow-btn::after {
    top: 0;
    animation: fta 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes mva {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
@keyframes fta {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
}

/* CONCEPT */
.concept-intro {
    text-align: center;
}
.concept-intro p {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

/* SYSTEM */
.system-table {
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    margin: auto;
}
.system-table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.system-table th, .system-table td {
    display: block;
    font-family: "游ゴシック",YuGothic,YuGothicM,"Yu Gothic",メイリオ,Meiryo,sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.system-table th {
    width: 74%;
    text-align: left;
    padding: 0.6rem 0 0.6rem 1rem;
}
.system-table td {
    width: calc(26% - 3px);
    text-align: right;
    padding: 0.6rem 1rem 0.6rem 0;
}
.system-table tr:nth-child(odd) th, .system-table tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.3);
}
.system-table tr:nth-child(even) th, .system-table tr:nth-child(even) td {
    background: rgba(255, 255, 255, 0.14);
}
.system-table span {
    font-size: 1rem;
}

/* PHOTO GALLERY */
.slider-wrap {
    max-width: 880px;
    padding: 0 20px;
    margin: auto;
}
.slider-wrap * {
    outline: none;
}
.slider {
    margin-bottom: 10px;
}
.slider-nav .slick-list {
    padding: 0 !important;
    margin-bottom: 10px;
}
.slider-nav .slick-list img {
    width: 100%;
    padding: 0 3px;
    cursor: pointer;
}

/* ACCESS */
.access-inner {
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    margin: auto;
}
.access-deta {
    margin-top: 30px;
}
.section-access address {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 1.5rem;
}
.section-access a {
    font-size: 1.1rem;
    line-height: 3rem;
    background: rgba(255, 255, 255, 0.14);
    padding:  0 3rem 0 1.5rem;
    border-radius: 20px;
    position: relative;
    transition: all .2s;
}
.section-access a:hover {
    background: rgba(255, 255, 255, 0.3);
}
.section-access a::after {
    content: '';
    background: url(../img/access_icon_link.svg) center no-repeat;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* RECRUIT */
.recruit-inner {
    width: 290px;
    margin: auto;
}
.section-recruit a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.section-recruit p {
    width: calc(100% - 5.6rem - 3px);
    font-size: 1.3rem;
    line-height: 5.6rem;
    text-align: center;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.45);
}
.section-recruit a span {
    display: inline-block;
    width: 5.6rem;
    height: 5.6rem;
    background: rgba(255, 255, 255, 0.14);
    position: relative;
}
.section-recruit a span:after {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

/* フォーム（デフォルトcssリセット）*/
input,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="button"],
input[type="time"],
input[type="number"],
input[type="submit"],
input[type="checkbox"],
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
}
textarea {
  resize: vertical;
}
input[type='radio'] {
  display: none;
}
input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

/* CONTACT */
.section-contact {
    width: 290px;
}
.section-contact a {
    display: block;
    font-size: 1.3rem;
    line-height: 5.6rem;
    text-align: center;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #fff;
    margin: auto;
}
.section-contact a:hover {
    background: rgba(255, 255, 255, 0.06);
}
/* .section-contact form {
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    margin: auto;
}
.form-parts {
    margin-bottom: 10px;
}
.section-contact input, .section-contact textarea {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1rem;
}
.section-contact input::placeholder, .section-contact textarea::placeholder {
    color: rgb(99, 99, 99);
    letter-spacing: 2px;
}
.section-contact input:placeholder-shown, .section-contact textarea:placeholder-shown {
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.section-contact input:focus-within, .section-contact textarea:focus-within {
    border: 1px solid rgba(255, 255, 255, 1);
}
.error {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 20px;
    margin-top: 10px;
    padding: 0.3rem 1rem;
}
.section-contact form .content {
    margin-bottom: 2rem;
}
.section-contact button {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 3px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1rem;
    position: relative;
} */

/* FOOTER */
footer {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}
footer small {
    display: block;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/* CONFIRM,THANKS_HEADER */
.confirm header .inner:before, .thanks header .inner:before {
    opacity: 0.8;
}
.confirm .logo, .thanks .logo {
    top: 0;
}

/* CONFIRM */
.confirm section, .thanks section {
    min-height: calc(100vh - 120px);
    margin: 0 auto;
}
.confirm section:after, .thanks section:after {
    content: "";
    display: block;
    width: 100%;
    height: 170px;
}
.confirm main, .thanks main {
    max-width: 880px;
    padding: 120px 20px 0;
    margin: auto;
}
body.thanks main {
    padding: 120px 10px 0;
}
.confirm-intro, .thanks-intro {
    text-align: center;
    margin-bottom: 60px;
}
.confirm-intro p, .thanks-intro p {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.confirm-inner p {
    display: block;
    font-size: 1.25rem;
    line-height: 2.3rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.14);
}
.confirm-inner p:last-child {
    margin-bottom: 20px;
}
.btn-group {
    display: flex;
    justify-content: space-between;
}
.btn-group input, .btn-group button, .home-btn {
    display: block;
    width: calc(50% - 10px);
    font-size: 1.25rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem;
}
.btn-group input {
    background: rgba(255, 255, 255, 0.14);
}
.btn-group button {
    background: rgba(0, 0, 0, 0.3);
}
.confirm footer, .thanks footer {
    position: absolute;
    bottom: 0;
    left: 0;
}
.confirm footer small, .thanks footer small {
    position: relative;
}

/* THANKS */
.home-btn {
    width: 70%;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
}